{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Add Transaction</title>
</head>
<link rel="stylesheet" href="{%  static 'style.css' %}">
<h1>TechniStoncks - Israel Website of Stocks</h1>
<h2>Add New Transaction</h2>
<form method="POST">
    {% csrf_token %}
    ID: <textarea name="ID" rows="1" cols="50" required></textarea><br>
    Transaction Sum: <textarea name="Transaction" rows="1" cols="50" required></textarea><br>
    <input type="submit">
</form>
<br>
{% if first_try == 1 %}
    {% if is_ID == 1 %}
        {% if is_not_Tran == 1 %}
            <h2>Last 10 Transactions:</h2>
            <table border="=1" width="40%">
                <th>Date</th>
                <th>Investor ID</th>
                <th>Transaction Sum</th>
                {% for Q4 in sql_res4 %}
                    <tr>
                        <td>{{ Q4.Date }} <br></td>
                        <td>{{ Q4.InvestorID }}<br></td>
                        <td>{{ Q4.TransactionSum }}<br></td>
                    </tr>
                {% endfor %}
            </table><br><br>
        {% else %}
            <h2>You have already made a transaction today</h2>
        {% endif %}
    {% else %}
        <h2>Investor ID does not exist</h2>
    {% endif %}
{% endif %}

<a href="index">Home Page</a><br>
<a href="Query_Results">Query Results</a><br>
<a href="Buy_Stocks">Buy Stocks</a><br><br>